<footer id="wrapper-footer">
    <img class="w-100" src="assets/images/footer_bg.png" />
    <div id="wrapper-container" class="centered row no-gutters">
        <div class="col-md-6 col-sm-12 mb-sm-2 left-align-mobile-center-desktop">
            <h2>FARRM</h2>
            <p class="left-align-mobile-center-desktop">WERF</p>
            <p class="left-align-mobile-center-desktop">BOOTSTRAAT 8</p>
            <p class="left-align-mobile-center-desktop">3500 Hasselt</p>
            <br />
            <p class="left-align-mobile-center-desktop">info@farrm.be</p>
        </div>
        <div class="col-md-6 col-sm-12 mx-auto mb-md-5">
            <!-- <div class="row mx-auto mb-5 justify-content-between"> -->
            <div id="social-container" class="flex-row mb-md-5 mb-sm-2">
                <img class="col-3" src="assets/images/youtube.png" />
                <img class="col-3" src="assets/images/instagram.png" />
                <img class="col-3" src="assets/images/facebook.png" />
            </div>
            <button id="btn-contact" class="col-12 py-3">CONTACT</button>
        </div>
        <div id="logo-container" class="justify-content-between mt-md-5 flex-row">
            <img class="col-3 offset-1" src="assets/images/farrm_logo.png" />
            <img class="col-2 offset-1" src="assets/images/werf_logo.png" />
            <img class="col-3 offset-1" src="assets/images/muziekodroom_logo.png" />
        </div>
    </div>
</footer>