// Colors
$white: #ffffff;
$ultralight: #e5e5e5;
$black: #000000;

// Fonts
$font: "din-2014";
$fw-eb: 800;
$fw-b: 700;
$fw-db: 600;
$fw-r: 400;
$fw-l: 300;
$fw-el: 200;

// Alignment
$margin-center: 0 auto;
$max-width-lg: 991px;
$min-width-xl: 992px;