@import './variables';
@import './fonts';
@import './animations';

html {
    background: $black;
    body {
        font-family: $font !important;
        font-weight: $fw-r;
        background: url("../assets/images/Background_paper_HAMERS_4k.jpg") no-repeat fixed center;
        h1 {
            color: $white;
            font-weight: $fw-b;
            font-size: 4vw !important;
            text-align: left;
        }
        h2 {
            color: $white;
            font-weight: $fw-b;
            font-size: 4vw !important;
            text-align: left;
        }
        p {
            color: $ultralight;
            font-weight: $fw-r;
            font-size: 1.75vw !important;
            text-align: left;
        }
    }
}

iframe {
    width: 75vw;
    height: 75vh;
    display: block;
}

img {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.content-width {
    width: 50vw;
}

.content-margin {
    margin-top: 7.5%;
}

@media only screen and (max-width: $max-width-lg) {
    html {
        body {
            h1 {
                font-size: 4.5vh !important;
                text-align: center;
            }
            h2 {
                font-size: 3.5vh !important;
                text-align: center;
            }
            p {
                font-size: 2.25vh !important;
                text-align: center;
            }
        }
    }

    iframe {
        width: 100vw;
        height: 37.5vh;
    }

    .content-width {
        width: 75vw;
    }
}

@media only screen and (max-width: 640px) {
    html {
        body {
            background: url("../assets/images/Background_paper_HAMERS_640.jpg") no-repeat fixed center;
        }
    }
}

@media only screen and (max-width: 1280px) {
    html {
        body {
            background: url("../assets/images/Background_paper_HAMERS_1280.jpg") no-repeat fixed center;
        }
    }
}

@media only screen and (max-width: 2560px) {
    html {
        body {
            background: url("../assets/images/Background_paper_HAMERS_2560.jpg") no-repeat fixed center;
        }
    }
}