@import "./variables";
@import "./fonts";
@import "./animations";

html {
    background: $black;
    body {
        color: $white;
        font-family: $base-font-family;
        font-weight: $base-font-weight;
        line-height: $base-line-height;
        background: url("../assets/images/Background_paper_HAMERS_4k.jpg") no-repeat fixed center;

        @media #{$mq-640-w} {
            background: url("../assets/images/Background_paper_HAMERS_640.jpg") no-repeat fixed center;
        }

        @media #{$mq-1280-w} {
            background: url("../assets/images/Background_paper_HAMERS_1280.jpg") no-repeat fixed center;
        }

        @media #{$mq-2560-w} {
            background: url("../assets/images/Background_paper_HAMERS_2560.jpg") no-repeat fixed center;
        }

        p {
            font-size: $base-font-size;
            text-align: center;

            @media #{$mq-medium} {
                font-size: $base-font-size * 1.2;
                text-align: left;
            }

            @media #{$mq-large} {
                font-size: $base-font-size * 1.3;
            }

            @media #{$mq-xlarge} {
                font-size: $base-font-size * 1.4;
            }

            @media #{$mq-xxlarge} {
                font-size: $base-font-size * 1.6;
            }
        }

        h1,
        h2 {
            font-size: $base-font-size * 2.8;
            font-weight: $fw-b;
            text-align: center;

            @media #{$mq-medium} {
                font-size: $base-font-size * 3;
                text-align: left;
            }

            @media #{$mq-large} {
                font-size: $base-font-size * 3.1;
            }

            @media #{$mq-xlarge} {
                font-size: $base-font-size * 3.2;
            }

            @media #{$mq-xxlarge} {
                font-size: $base-font-size * 3.4;
            }
        }

        h3 {
            font-size: $base-font-size * 1.5;
            font-weight: $fw-b;
            text-align: center;

            @media #{$mq-medium} {
                font-size: $base-font-size * 1.7;
                text-align: left;
            }

            @media #{$mq-large} {
                font-size: $base-font-size * 1.8;
            }

            @media #{$mq-xlarge} {
                font-size: $base-font-size * 1.9;
            }

            @media #{$mq-xxlarge} {
                font-size: $base-font-size * 2.1;
            }        }
    }
}

iframe {
    width: 100vw;
    height: 37.5vh;
    display: block;

    @media #{$mq-medium} {
        width: 75vw;
        height: 75vh;
    }
}

img {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}   

.content-width {
    width: 100vw;

    @media #{$mq-medium} {
        width: 75vw;
    }

    @media #{$mq-large} {
        width: 50vw;
    }
}

.content-margin {
    margin-top: 7.5%;
}