<div class="mt-5 mb-5 content-width mx-auto">
    <div>
        <h1>OVER ONS</h1>
        <p>Tectatio berferspit desciis verum reri ommos ex eum quas vel ius eaquas aciti aut qui odis accum ad quia
            quam excea cum haribus quatium quod</p>
    </div>
    <div class="content-margin">
        <h1>TEAM</h1>
        <div class="row mt-2">
            <div class="col-md-7 col-sm-12">
                <h2>MICHEL</h2>
                <p>Deze MANager. Da doluptat. Tendam fuga. Ut vit am, officidia nem dolor adisquat omnis volo quia
                    conseque et, seque labore dolum voluptiis quas restrum nam, in nonsequi cus del
                    ipsum et res inveni consequae voluptat.
                    Bo. Cullut fugit mod</p>
            </div>
            <div class="col-md-5 col-sm-12">
                <img src="assets/images/FARRM_Michel.jpg" class="img-fluid" />
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-7 col-sm-12">
                <h2>JAN</h2>
                <p>Deze audio man Ficaepra tustibus mo is mi, omnimus aut etur? One non num quidelestrum ad qui autat ab
                    intur alite nobitatem aut re
                    ea porehentium repero blandi con resed moluptae. Nequid unda quam, officitius ad undita simpostias
                    is aut dolore,</p>
            </div>
            <div class="col-md-5 col-sm-12 order-md-first">
                <img src="assets/images/FARRM_jan.jpg" class="img-fluid" />
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-7 col-sm-12">
                <h2>ROBIN</h2>
                <p>Deze visuele man. Da doluptat. Tendam fuga. Ut vit am, officidia nem dolor adisquat omnis volo quia
                    conseque et, seque labore dolum voluptiis quas restrum nam, in nonsequi cus del
                    ipsum et res inveni consequae voluptat.
                    Bo. Cullut fugit mod</p>
            </div>
            <div class="col-md-5 col-sm-12">
                <img src="assets/images/FARRM_Michel.jpg" class="img-fluid" />
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-7 col-sm-12">
                <h2>JOREN</h2>
                <p>Deze live man Ficaepra tustibus mo is mi, omnimus aut etur? One non num quidelestrum ad qui autat ab
                    intur alite nobitatem aut re
                    ea porehentium repero blandi con resed moluptae. Nequid unda quam, officitius ad undita simpostias
                    is aut dolore,</p>
            </div>
            <div class="col-md-5 col-sm-12 order-md-first">
                <img src="assets/images/FARRM_jan.jpg" class="img-fluid" />
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-7 col-sm-12">
                <h2>VRIJWILLIGERS</h2>
                <p>Deze gratis man. Da doluptat. Tendam fuga. Ut vit am, officidia nem dolor adisquat omnis volo quia
                    conseque et, seque labore dolum voluptiis quas restrum nam, in nonsequi cus del
                    ipsum et res inveni consequae voluptat.
                    Bo. Cullut fugit mod</p>
            </div>
            <div class="col-md-5 col-sm-12">
                <img src="assets/images/FARRM_Michel.jpg" class="img-fluid" />
            </div>
        </div>
    </div>
</div>