@import '~src/sass/variables';

#team-container {
    p {
        font-size: $base-font-size * 0.8;
        text-align: center;
    
        @media #{$mq-medium} {
            font-size: $base-font-size * 0.8;
            text-align: left;
        }
    
        @media #{$mq-large} {
            font-size: $base-font-size * 0.9;
        }
    
        @media #{$mq-xlarge} {
            font-size: $base-font-size * 1.0;
        }
    
        @media #{$mq-xxlarge} {
            font-size: $base-font-size * 1.2;
        }
    }
}