<div class="mt-5 mb-5 content-width mx-auto">
    <div>
        <h1>OVER ONS</h1>
        <p>Tectatio berferspit desciis verum reri ommos ex eum quas vel ius eaquas aciti aut qui odis accum ad quia
            quam excea cum haribus quatium quod</p>
    </div>
    <div id="team-container" class="content-margin">
        <h2>TEAM</h2>
        <div class="row mt-5" *ngFor="let member of members">
            <div class="col-md-7 col-sm-12">
                <h3>{{ member.name }}</h3>
                <p>{{ member.description }}</p>
            </div>
            <div class="col-md-5 col-sm-12" [ngClass]="{'order-md-first': member.left == true}">
                <img [src]="member.imageUri" class="img-fluid" />
            </div>
        </div>
    </div>
</div>