<div class="mt-5 mb-5">
    <div class="text-block">
        <h1>WAT IS FARRM?</h1>
        <p>Een laagdrempelige plek in Hasselt waar muzikanten hun creativiteit de vrije loop
            kunnen laten en dit alles vanuit een DIY-mentaliteit, dat is Farrm!</p>
    </div>
    <div id="latest-video">
        <h1 class="text-center">LATEST VIDEO</h1>
        <iframe class="mx-auto" src="https://www.youtube.com/embed/iTHhMj7Z4n8" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
    </div>
</div>