<div class="mt-5 mb-5">
    <div class="content-width mx-auto">
        <h1>CONTACT</h1>
        <p>Komen opnemen? Een Livesessie nodig? Niet zeker hoe je iets moet aanpakken. Occum vellab id ullam quam doloren demposam debitio rehenda.</p>
    </div>
    <div id="contact-info-wrapper" class="content-width mx-auto mt-5 big-margin">
        <h3>FARRM</h3>
        <p>WERF</p>
        <p>BOOTSTRAAT 8</p>
        <p>3500 Hasselt</p>
        <br />
        <p>info@farrm.be</p>
    </div>
    <div class="content-width mx-auto mb-5">
        <h3>TOCH NOG EEN VRAAG?</h3>
    </div>
    <form class="content-width mx-auto mt-5 text-right">
        <label class="col-lg-3 col-sm-12" for="name">NAAM</label>
        <input class="col-lg-9 col-sm-12" name="name" type="text"/>
        <br/>
        <label class="col-lg-3 col-sm-12" for="email">EMAIL</label>
        <input class="col-lg-9 col-sm-12" name="email" type="text"/>
        <br/>
        <label class="col-lg-3 col-sm-12" for="question" type="text">JE VRAAG</label>
        <textarea class="col-lg-9 col-sm-12" name="question"></textarea>
        <br/>
        <button type="submit">VERSTUUR</button>
    </form>
</div>