@import "~src/sass/variables";

#nav-container {
    height: 20vh;
    width: 100vw;
    background: url("../../assets/images/navbar_bg.png") no-repeat;
    background-size: cover;
    background-position: bottom;
}

.navbar-brand > img {
    height: 7.5vh;
}

li {
    padding: 0 2.5% 0;
}

a {
    color: $white;
    text-decoration: none;
    font-family: din-2014;
    font-weight: 700;
    font-size: 2em;
    white-space: nowrap;
    text-transform: uppercase;
    -webkit-transition: all 0.1s ease-out;
    -moz-transition: all 0.1s ease-out;
    -ms-transition: all 0.1s ease-out;
    -o-transition: all 0.1s ease-out;
    transition: all 0.1s ease-out;
    &:hover {
        color: $black;
    }
}

.active {
    color: $black;
}

.navbar-toggler {
    color: $white;
    border-color: $white;
    .navbar-toggler-icon {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    }
}

.grow:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}

.navbar-collapse {
    border-top: solid 2px $white !important;
    background: url("../../assets/images/navbar_bg_mobile.png") !important;
    margin: -0.5rem -2.75rem !important;
    padding: 0.5rem 2.75rem !important;

    @media #{$mq-medium} {
        border-top: none !important;
        background: none !important;
        margin: 0 !important;
        padding: 0 !important;
    }
}

@media #{$mq-medium} {
    .navbar-expand-custom {
        -ms-flex-flow: row nowrap !important;
        flex-flow: row nowrap !important;
        -ms-flex-pack: start !important;
        justify-content: flex-start !important;
    }
    .navbar-expand-custom .navbar-nav {
        -ms-flex-direction: row !important;
        flex-direction: row !important;
    }
    .navbar-expand-custom .navbar-nav .dropdown-menu {
        position: absolute !important;
    }
    .navbar-expand-custom .navbar-nav .nav-link {
        padding-right: 0.5rem !important;
        padding-left: 0.5rem !important;
    }
    .navbar-expand-custom > .container,
    .navbar-expand-custom > .container-fluid {
        -ms-flex-wrap: nowrap !important;
        flex-wrap: nowrap !important;
    }
    .navbar-expand-custom .navbar-collapse {
        display: -ms-flexbox !important;
        display: flex !important;
        -ms-flex-preferred-size: auto !important;
        flex-basis: auto !important;
    }
    .navbar-expand-custom .navbar-toggler {
        display: none !important;
    }
}
