@import '~src/sass/variables';

#navbar-bg-desktop {
    min-height: 200px;
    object-fit: cover;
}

.navbar-brand {
    padding-right: 2.5%;
    img {
        height: 75px;
    }
}

.navbar-toggler {
    color: $white;
    border-color: $white;
    .navbar-toggler-icon {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    }
}

.navbar-nav {
    li {
        padding: 0 2.5% 0;
    }
    .nav-link {
        color:$white;
        text-decoration: none;
        font-family: din-2014;
        font-weight: 700;
        font-size: 2em;
        white-space: nowrap;
        text-transform: uppercase;
        -webkit-transition:all 0.1s ease-out;
        -moz-transition:all 0.1s ease-out;
        -ms-transition:all 0.1s ease-out;
        -o-transition:all 0.1s ease-out;
        transition:all 0.1s ease-out;
        &:hover {
            color: $black;
        }
    }
}

.active {
    color: $black;
}

// override grow:hover for navbar logo //
.grow:hover {
    -webkit-transform:scale(1.1);
    -moz-transform:scale(1.1);
    -ms-transform:scale(1.1);
    -o-transform:scale(1.1);
    transform:scale(1.1);
}

@media only screen and (min-width: $min-width-xl) {
    nav {
        padding: 2.5% 0 12.5%;
    }
}

@media only screen and (max-width: $max-width-lg) {
    nav {
        background: url("../../assets/images/navbar_bg_mobile.png");
        border-bottom: 2px solid $white;
        .navbar-brand {
            margin: $margin-center;
        }
    }
}