@import '~src/sass/variables';

footer {
    background: url("../../assets/images/footer_bg.png") no-repeat;
    background-position: 50% 10%;
    background-size: cover;
    padding-top: 20%;

    @media #{$mq-medium} {
        padding-top: 5%;
    }
}

h2 {
    font-weight: $fw-eb;
}

p {
    line-height: 0.8;
}

#logo-container {
    padding-bottom: 2.5%;

    img {
        max-height: 75px;
        max-width: 100px;
        padding: 0 10px 0;

        @media #{$mq-medium} {
            max-height: 10vh;
            max-width: 20%;
            padding: 0 3.25vw 0;    
        }
    }
}

#social-container {
    width: 100%;

    img {
        max-height: 33.33%;
        max-width: 33.33%;

        @media #{$mq-small} {
            max-height: 33.33%;
            max-width: 33.33%;    
        }

        @media #{$mq-medium} {
            max-height: 20%;
            max-width: 20%;        
        }
    }
}

#btn-contact {
    color: $white;
    background-color: transparent;
    border: solid 4px $white;
    -webkit-transition:all 0.25s ease-out;
    -moz-transition:all 0.25s ease-out;
    -ms-transition:all 0.25s ease-out;
    -o-transition:all 0.25s ease-out;
    transition:all 0.25s ease-out;
    font-weight: 800;

    @media #{$mq-medium} {
        font-size: 2em;
    }
}

#btn-contact:hover {
    color: #000000;
    background-color: #ffffff;
}
