#wrapper-footer {
    position: relative;
    text-align: center;
    color: white;  
}

#wrapper-footer > img {
    min-height: 75vh;
}

#btn-contact {
    color: #ffffff;
    background-color: #000000;
    border: none;
    font-size: 3vw;
    -webkit-transition:all 0.25s ease-out;
    -moz-transition:all 0.25s ease-out;
    -ms-transition:all 0.25s ease-out;
    -o-transition:all 0.25s ease-out;
    transition:all 0.25s ease-out;  
}

#btn-contact:hover {
    color: #000000;
    background-color: #ffffff;
}

#wrapper-container {
    width: 50%;
}

#social-container > img:hover {
    cursor: pointer;
}

.centered {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%);  
}

h2 {
    font-size: 3.5vw;
    font-weight: 600;
    padding: 0;
    margin: 0;
}

p {
    color: #ffffff;
    font-size: 1.5vw;
    padding: 0;
    margin: 0;
    font-weight: 500;
}

@media only screen and (max-width: 1250px) {
    #wrapper-footer > img {
        min-height: 50vh;
    }

    #wrapper-container {
        width: 60%;
    }
}

@media only screen and (max-width: 800px) {
    h2 {
        font-size: 5vw;
    }

    p {
        font-size: 3vw;
    }

    #wrapper-container {
        width: 100%;
    }

    #btn-contact {
        width: 50%;
        margin: 2.5% 0;
    }

    #social-container {
        width: 50%;
        margin: 2.5% auto 0 auto;
    }

    #wrapper-footer > img {
        min-height: 80vh;
    }
}


@media only screen and (max-width: 750px) {
    #wrapper-footer > img {
        min-height: 75vh;
    }
}

@media only screen and (max-width: 650px) {
    #wrapper-footer > img {
        min-height: 65vh;
    }
}

@media only screen and (max-height: 850px) {
    #wrapper-footer > img {
        min-height: 50vh;
    }

    #social-container {
        width: 75%;
        margin: 2.5% auto 0 auto;
    }
}

@media only screen and (max-height: 750px) {
    #wrapper-footer > img {
        min-height: 55vh;
    }
}