<footer>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <h2>FARRM</h2>
                <p>WERF</p>
                <p>BOOTSTRAAT 8</p>
                <p>3500 Hasselt</p>
                <br />
                <p>info@farrm.be</p>
            </div>
            <div class="col-md-6 col-sm-12">
                <div id="social-container" class="mb-md-5 mb-sm-2 text-center">
                    <a href="https://www.youtube.com/channel/UC5NYDRNZeGQA5fXsUsE0tdQ" target="_blank"
                        rel="noopener noreferrer"><img class="col-4 grow" src="assets/images/youtube.png"
                            draggable="false" /></a>
                    <a href="https://www.instagram.com/farrm.limburg/" target="_blank" rel="noopener noreferrer"><img
                            class="col-4 grow" src="assets/images/instagram.png" draggable="false" /></a>
                    <a href="https://www.facebook.com/FarrmProductions/" target="_blank" rel="noopener noreferrer"><img
                            class="col-4 grow" src="assets/images/facebook.png" draggable="false" /></a>
                </div>
                <button id="btn-contact" class="col-12 py-3 mt-3 mt-md-0">CONTACT</button>
            </div>
        </div>
        <div id="logo-container" class="mt-3 mt-md-0">
            <div id="logo-center" class="mt-md-5 mx-auto">
                <a href=""><img class="grow img-fluid" src="assets/images/farrm_logo.png" draggable="false" /></a>
                <a href="https://www.instagram.com/werf_hasselt/" target="_blank" rel="noopener noreferrer"><img
                        class="grow img-fluid" src="assets/images/werf_logo.png" draggable="false" /></a>
                <a href="https://www.muziekodroom.be/" target="_blank" rel="noopener noreferrer"><img
                        class="grow img-fluid" src="assets/images/muziekodroom_logo.png" draggable="false" /></a>
            </div>
        </div>
    </div>
</footer>