@font-face {
    font-family: din-2014;
    src: url(assets/fonts/DIN2014-ExtraLight.ttf) format("truetype");  
    font-weight: 200;
}

@font-face {
    font-family: din-2014;
    src: url(assets/fonts/DIN2014-ExtraLightItalic.ttf) format("truetype");  
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: din-2014;
    src: url(assets/fonts/DIN2014-Light.ttf) format("truetype");  
    font-weight: 300;
}

@font-face {
    font-family: din-2014;
    src: url(assets/fonts/DIN2014-LightItalic.ttf) format("truetype");  
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: din-2014;
    src: url(assets/fonts/DIN2014-Regular.ttf) format("truetype");  
    font-weight: 400;
}

@font-face {
    font-family: din-2014;
    src: url(assets/fonts/DIN2014-Italic.ttf) format("truetype");  
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: din-2014;
    src: url(assets/fonts/DIN2014-DemiBold.ttf) format("truetype");  
    font-weight: 600;
}

@font-face {
    font-family: din-2014;
    src: url(assets/fonts/DIN2014-DemiBoldItalic.ttf) format("truetype");  
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: din-2014;
    src: url(assets/fonts/DIN2014-Bold.ttf) format("truetype");  
    font-weight: 700;
}

@font-face {
    font-family: din-2014;
    src: url(assets/fonts/DIN2014-BoldItalic.ttf) format("truetype");  
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: din-2014;
    src: url(assets/fonts/DIN2014-ExtraBold.ttf) format("truetype");  
    font-weight: 800;
}


@font-face {
    font-family: din-2014;
    src: url(assets/fonts/DIN2014-ExtraBoldItalic.ttf) format("truetype");  
    font-weight: 800;
    font-style: italic;
}

.row:before, .row:after {
    display: inline-block;
}

.col {
    flex: 1 0 50%; // where 50% is the intended size of the items
  }

html, body {
    background: url("./assets/images/body_bg.png") no-repeat fixed center #000000;
    font-family: din-2014;
    font-weight: 400;
    font-size: 16;
}

body h1 {
    color: #ffffff;
    font-size: 4.5vw;
    font-weight: 700;
}

body p {
    color: #e5e5e5;
    font-size: 2.25vw;
    text-align: left;
}

iframe {
    width: 75%;
    height: 75vh;
    display: block;
}

.text-block {
    width: 50%;
}

.left-align-mobile-center-desktop {
    text-align: left;
}

@media only screen and (max-width: 800px) {
    body h1 {
      font-size: 7vw;
    }

    body p {
        font-size: 5.25vw;
    }

    iframe {
        width: 100%;
        height: 50vh;
    }

    .text-block {
        width: 75%;
    }

    .left-align-mobile-center-desktop {
        text-align: center;
    }
}

#latest-video {
    margin-top: 7.5%;
}